<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <div class="bg-image"></div>
    <section class="container-fluid bg-gradient">
        <div class="row">
            <div class="col-8">
                <h2>Nosotros</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur labore aliquam explicabo magnam aut temporibus laudantium sunt, sequi inventore in, voluptatem necessitatibus maxime? Nostrum tempore ipsa dignissimos dolore est suscipit beatae, fugit dolorum odio itaque illum error recusandae reiciendis quam consequuntur. Nostrum fugit voluptates exercitationem aut esse architecto vel accusamus!</p>
            </div>
            <div class="col-4">
              <img src="/img/CreativeTeam.png" width="100%" alt="">
            </div>
        </div>
    </section>
    <section class="container-fluid pad">
        <div class="container-fluid">
            <h2>Visión</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur labore aliquam explicabo magnam aut temporibus laudantium sunt, sequi inventore in, voluptatem necessitatibus maxime? Nostrum tempore ipsa dignissimos dolore est suscipit beatae, fugit dolorum odio itaque illum error recusandae reiciendis quam consequuntur. Nostrum fugit voluptates exercitationem aut esse architecto vel accusamus!</p>
        </div>
        <div class="container-fluid">
            <h2>Misión</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur labore aliquam explicabo magnam aut temporibus laudantium sunt, sequi inventore in, voluptatem necessitatibus maxime? Nostrum tempore ipsa dignissimos dolore est suscipit beatae, fugit dolorum odio itaque illum error recusandae reiciendis quam consequuntur. Nostrum fugit voluptates exercitationem aut esse architecto vel accusamus!</p>
        </div>
        <div class="container-fluid">
            <h2>Objetivos</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur labore aliquam explicabo magnam aut temporibus laudantium sunt, sequi inventore in, voluptatem necessitatibus maxime? Nostrum tempore ipsa dignissimos dolore est suscipit beatae, fugit dolorum odio itaque illum error recusandae reiciendis quam consequuntur. Nostrum fugit voluptates exercitationem aut esse architecto vel accusamus!</p>
        </div>
    </section>
    <%- include('./partials/footer')%>
    <div class="attribution ">
        <a href="https://storyset.com/people">Illustration by Freepik Storyset</a>
    </div>
    <script src="/js/animate.js" type="text/javascript"> </script>
</body>
</html>