<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body onload="typeWriter()">
    <%- include('./partials/header')%>
    <section class="container-fluid bg-gradient pad">
        <div>
            <h2>Nos encantaría saber de ti</h2>
            <hr>
            <p>Si tienes un proyecto y ya tienes una idea clara o solicitud de propuesta y deseas discutirlos con nosotros, envíanos un correo electrónico utilizando el formulario a continuación.</p>
            <p>Te daremos información clara, soluciones creativas y respuestas directas a las preguntas y dudas sobre tu proyecto.</p>
        </div>
    </section>
    <section class="container-fluid pad">
        <div class="row">
            <form class="col-6" action="https://formsubmit.co/noe.carosella@gmail.com" method="POST">
            <input type="hidden" name="_next" value="https://planetafullstack.herokuapp.com/thanks">
          
              <label for="fname">Nombre</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Apellido</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="Your email..">
    
              <label for="subject">Asunto</label>
              <input type="text" id="subject" name="_subject" placeholder="Write your subject here..">
          
              <label for="message">Mensaje</label>
              <textarea id="message" name="message" placeholder="Write your message here.." style="height:200px"></textarea>
          
              <button type="submit" class="button">ENVIAR</button>
          
            </form>
            <div class="col-6">
                <img src="/img/contactUs.png" width="100%" alt="">
            </div>
        </div>
    </section>
    <%- include('./partials/footer')%>
    <div class="attribution ">
        <a href="https://storyset.com/people">Illustration by Freepik Storyset</a>
    </div>
    <script src="/js/animate.js" type="text/javascript"> </script>
</body>
</html>