<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <div class="bg-image"></div>
    <section class="container-fluid bg-gradient">
        <div class="row">
            <div class="col-8">
                <h2>Servicios de programación web</h2>
                <hr>
                <p>Somos un equipo diverso con expertos en desarrollo web, diseño web, experiencia y usabilidad de usuario para grandes y pequeñas empresas. Aplicamos nuestro conocimiento digital a los objetivos y presupuesto para crear una propuesta de valor que le ayudará a hacer crecer su negocio. Ya sea que esté buscando iniciar un sitio web desde cero o desea comercializar su sitio web existente (¡o ambos!), podemos ayudarle.</p>
            </div>
            <div class="col-4">
              <img src="/img/program.png" width="100%" alt="">
            </div>
        </div>
    </section>
    <section class="container-fluid pad">
            <div class="row">
                <div class="col card d-flex animate">
                    <div><i class="fas fa-laptop-code fa-3x"></i></div>
                    <div>
                        <h3>Maquetación Web</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, rerum id voluptates qui tempore repudiandae sunt quidem quia eius esse.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col card d-flex animate">
                    <div><i class="fas fa-database fa-3x"></i></div>
                    <div>
                        <h3>Arquitectura del Software</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates rerum quo reiciendis dolorem porro hic amet eveniet quam dicta voluptas!</p>
                    </div>
                </div>
                <div class="col card d-flex animate">
                    <div><i class="fas fa-terminal fa-3x"></i></div>
                    <div>
                        <h3>Desarrollo/Implementación API's</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates rerum quo reiciendis dolorem porro hic amet eveniet quam dicta voluptas!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col card d-flex animate">
                    <div><i class="fas fa-mobile-alt fa-3x"></i></div>
                    <div>
                        <h3>Diseño Responsive</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates rerum quo reiciendis dolorem porro hic amet eveniet quam dicta voluptas!</p>
                    </div>
                </div>
                <div class="col card d-flex animate">
                    <div><i class="fas fa-history fa-3x"></i></div>
                    <div>
                        <h3>Metodología Agile</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates rerum quo reiciendis dolorem porro hic amet eveniet quam dicta voluptas!</p>
                    </div>
                </div>
            </div>
    </section>
    <%- include('./partials/footer')%>
    <div class="attribution ">
        <a href="https://storyset.com/people">Illustration by Freepik Storyset</a>
    </div>
    <script src="/js/activeLink.js" type="text/javascript"> </script>
    <script src="/js/animate.js" type="text/javascript"> </script>
    <script src="/js/readMore.js" type="text/javascript"> </script>
</body>
</html>