<header class="header">
    <a href="/" class="logo"><img class="logo" src="/img/logo.png" alt=""></a>
    <div class="header-right" id="nav">
      <a class="active" id="link" href="/" onclick="activeLink(event)">Home</a>
      <a id="link" href="/about" onclick="activeLink(event)">Nosotros</a>
      <a id="link" href="/development" onclick="activeLink(event)">Programación</a>
      <a id="link" href="/counseling" onclick="activeLink(event)">Asesoramiento</a>
      <a id="link" href="/contact" onclick="activeLink(event)">Contacto</a>
    </div>
</header>