<header class="header">
    <a href="/" class="logo"><img class="logo" src="/img/logo.png" alt=""></a>
    <div class="header-right" id="nav">
      <a id="/" href="/">Home</a>
      <a id="/about" href="/about">Nosotros</a>
      <a id="/development" href="/development">Programación</a>
      <a id="/counseling" href="/counseling">Asesoramiento</a>
      <a id="/contact" href="/contact">Contacto</a>
    </div>
</header>