<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/1283047e01.js" crossorigin="anonymous"></script>
    <title>Planeta Full Stack</title>

    <meta property="og:title" content="ESPECIALISTAS EN DESARROLLO WEB" />
    <meta property="og:description" content="Desde la creación de prototipos, hasta el lanzamiento de una página web empresarial, nos encargaremos de todo el proces de desarrollo web para su negocio." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://planetafullstack.herokuapp.com/" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image" content="https://planetafullstack.herokuapp.com/img/webDesign.png" />
    <meta property="og:site_name" content="Planeta Full Stack" />
    <meta property="fb:app_id" content="928977633900253" />

</head>